@import './variables/styles.css';

.App {
  box-sizing: border-box;
}
.tidal-print-nav{
  padding: 16px 24px;
  display: flex;
  algin-items: center;
  justify-content: space-between;
  background: transparent;
}

.tidal-print-btn{
  height: 32px;
  border: none;
  border-radius: 6px;
  min-width: 64px;
  outline: none;
  background: var(--tidal-btn-color-primary);
  color: white;
  cursor: pointer;
}
.tidal-print-btn:hover{
  background: var(--tidal-btn-color-primary-hover);
}